.application__tabs {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-button {
    grid-column: span 3;
  }

  &-btn {
    padding: 8px 0;
    font-size: 14px;
    line-height: 16.8px;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &-active {
      border-bottom-color: $black;
    }
  }

  &-item {
    display: none;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-active {
      display: block;
    }
  }

  &-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.error-message {
  color: $satured-pink;
  display: none;
  padding: 0 24px;
}

.input__error {
  border-color: $satured-pink;
}

.application__tabs-baseline {
  width: 100%;
  margin-top: 16px;
}

@media (min-width: 1440px) {
  .application__tabs-btn {
    font-size: 16px;
    line-height: 19.2px;
  }

  .application__tabs-baseline {
    align-self: baseline !important;
    margin-top: 0;
  }
}
