input {
  padding: 0 20px;
  height: 56px;
  background-color: $white;
  font-size: 14px;
  line-height: 16.8px;
  border: 1px solid rgba(70, 68, 81, 0.1);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
