@mixin page-styles($color) {
  color: $color;

  .btn__menu {
    color: $color;
    border-color: $color;
  }

  .btn__icon::after {
    background-color: $color;
    box-shadow: 0 7px 0 0 $color;
  }

  .footer__contact-messanger,
  .footer__menu,
  .footer__schedule,
  .footer__schedule-line,
  .footer__contact,
  .nav__menu-wrapper,
  .page__tabs-item,
  .application,
  .btn {
    border-color: $color;
  }

  .word,
  .page__card-text,
  .poster-desc {
    color: $color;
  }

  .page__tabs-active::after,
  .page__tabs-active::before,
  .page__category-card:hover,
  .poster-hover:hover,
  .page__category-block::before,
  .page__category-block::after,
  .nav__menu-active,
  .page__tabs-active,
  .footer__menu-square,
  .page__card-price,
  .page__card-square {
    background-color: $color;
  }
}

body.purchases {
  @include page-styles($satured-green);
}

body.parents {
  @include page-styles($satured-pink);
}

body.activity {
  @include page-styles($satured-orange);
}

body.business {
  @include page-styles($satured-gray);
}

body.sport {
  @include page-styles($satured-red);
}

body.services {
  @include page-styles($satured-dark-green);
}

body.guests {
  @include page-styles($satured-cyan);
}
