mixin advertisingManager
    .advertising__manager-wrapper
        p.advertising__manager-paragraph Наш менеджер с удовльствием ответит на ваши вопросы
        .advertising__manager-card
            .advertising__manager-image
                img(src="/src/images/manager.png" alt="manager" class="advertising__manager-img")
                .advertising__manager-heading
                    .advertising__manager-text
                        h3.advertising__manager-name Мария Васильева
                        p.advertising__manager-desc PR-менеджер
                        span.advertising__manager-line1
                    .advertising__manager-bottom
                        p.advertising__manager-phone +7 (999) 876-54-32
                        p.advertising__manager-email info@art-center.ru
            span.advertising__manager-line2
            .advertising__manager-head
                .advertising__manager-contact 
                    p.advertising__manager-phone +7 (999) 876-54-32
                    p.advertising__manager-email info@art-center.ru