include ./advertisingManager
include ./advertisingPoster

mixin advertisingLayout(page='')
    .page__layout
        +pageHeading(page)
        .advertising__wrapper
            +advertisingManager
            +advertisingPoster('poster3','Идеальные условия для вашего события', 'Арендуйте пространство для мероприятий в нашем арт-пространстве, мы создадим идеальные условия для вашего события')
            +application



