@font-face {
    font-family: Jeko-Bold;
    src: url(../fonts/jeko-bold.ttf) format("truetype");
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-SemiBold.ttf) format("truetype");
}