$white: #f7f7f8;
$black: #3a3943;
$green: #157946;
$purple: #322857;
$gray: #374b4b;

$satured-pink: #a91f4c;
$satured-green: #30733e;
$satured-orange: #ea711a;
$satured-gray: #738992;
$satured-red: #993333;
$satured-cyan: #125a67;

$satured-dark-green: #195734;
