script(src="/src/js/app.js")
script(src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js")
script(src="https://api-maps.yandex.ru/2.1/?apikey=dc9c5473-561a-4627-b8cd-5e9a06f6b06d&lang=ru_RU")