include ../blocks/blocks
include ../blocks/components/_components


doctype html
html(lang='en')
    include ./_head
    body(class=page)
        +header
        .container 
            block content
        +footer  
    include ./_scripts
