mixin footerMenu(cls='', items1, items2, items3)
  .footer__menu(class=cls)
    ul.footer__menu-items
      each item in items1
        li
          a(href=item.href)= item.name 
      li(class='footer__menu-hidden')
        a(href="/parking.html") Паркинг  
      li(class='footer__menu-hidden')
        a(href="/services.html") Услуги  
    ul.footer__menu-items
      each item in items2
        li
          a(href=item.href)= item.name
      li(class='footer__menu-hidden')
        a(href="/career.html") Карьера  
      li(class='footer__menu-hidden')
        a(href="/tenders.html") Тендеры
      li(class='footer__menu-hidden')
        a(href="/contact.html") Контакты
    ul.footer__menu-items
      each item in items3
        li
          a(href=item.href)= item.name
    .footer__menu-square


