mixin footerMenu(cls='', items1, items2)
  .footer__menu(class=cls)
    ul.footer__menu-items
      each item in items1
        li
          a(href=item.href)= item.name  
    ul.footer__menu-items
      each item in items2
        li
          a(href=item.href)= item.name
    .footer__menu-square


