mixin footerContact(cls='')
    .footer__contact(class=`${cls}`)
        .footer__contact-info
            a(href="#")  +7 (999) 876-54-32
            a(href="#")  info@art-center.ru 
        .footer__contact-messangers
            a.footer__contact-messanger(href="#")
                img(src="/src/images/telegram.svg" alt="telegram")    
            a.footer__contact-messanger(href="#")
                img(src="/src/images/whatsApp.svg" alt="whatsapp")