mixin footerContact(cls='')
    .footer__contact(class=`${cls}`)
        .footer__contact-info
            a(href="#")  +7 (999) 876-54-32
            a(href="#")  info@art-center.ru 
        .footer__contact-messangers
            a.footer__contact-messanger(href="#")
                +rollerSvg(`
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.0279 7.97266C17.834 9.96328 16.9848 14.7977 16.555 17.027C16.3715 17.9715 16.015 18.2863 15.6691 18.3168C14.9142 18.3828 14.3429 17.8344 13.609 17.3672C12.4662 16.641 11.8162 16.1891 10.7102 15.4781C9.42592 14.6605 10.2594 14.2086 10.988 13.4723C11.182 13.2793 14.5054 10.3492 14.5683 10.0852C14.5787 10.0496 14.584 9.92773 14.5054 9.86172C14.4267 9.7957 14.3166 9.82109 14.238 9.83633C14.1227 9.86003 12.295 11.0297 8.75495 13.3453C8.23775 13.6906 7.76772 13.8582 7.34487 13.848C6.87834 13.8379 5.98721 13.5941 5.32149 13.3859C4.50899 13.132 3.85899 12.9949 3.91665 12.5582C3.9446 12.3314 4.26786 12.0995 4.88641 11.8625C8.67458 10.2646 11.2012 9.21003 12.4662 8.69883C16.0779 7.24648 16.8275 6.99258 17.315 6.98242C17.4251 6.98242 17.661 7.00781 17.8183 7.12969C17.9209 7.2171 17.9863 7.33838 18.0017 7.46992C18.0301 7.636 18.0389 7.80466 18.0279 7.97266Z" fill="currentColor"/>
                    </svg>`)
            a.footer__contact-messanger(href="#")
                +rollerSvg(`
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1189_9353)">
                        <path d="M17.6036 6.41367C16.1071 4.93711 14.1143 4.125 11.9964 4.125C7.625 4.125 4.06786 7.62656 4.06786 11.9297C4.06786 13.3043 4.43214 14.6473 5.125 15.832L4 19.875L8.20357 18.7887C9.36071 19.4109 10.6643 19.7379 11.9929 19.7379H11.9964C16.3643 19.7379 20 16.2363 20 11.9332C20 9.84844 19.1 7.89023 17.6036 6.41367ZM11.9964 18.423C10.8107 18.423 9.65 18.1102 8.63929 17.5195L8.4 17.3789L5.90714 18.0223L6.57143 15.6281L6.41429 15.382C5.75357 14.3484 5.40714 13.1566 5.40714 11.9297C5.40714 8.3543 8.36429 5.44336 12 5.44336C13.7607 5.44336 15.4143 6.11836 16.6571 7.34531C17.9 8.57227 18.6643 10.2 18.6607 11.9332C18.6607 15.5121 15.6286 18.423 11.9964 18.423ZM15.6107 13.5645C15.4143 13.466 14.4393 12.9949 14.2571 12.9316C14.075 12.8648 13.9429 12.8332 13.8107 13.0301C13.6786 13.227 13.3 13.6629 13.1821 13.7965C13.0679 13.9266 12.95 13.9441 12.7536 13.8457C11.5893 13.2727 10.825 12.8227 10.0571 11.5254C9.85357 11.1809 10.2607 11.2055 10.6393 10.4602C10.7036 10.3301 10.6714 10.2176 10.6214 10.1191C10.5714 10.0207 10.175 9.06094 10.0107 8.6707C9.85 8.29102 9.68571 8.34375 9.56429 8.33672C9.45 8.32969 9.31786 8.32969 9.18571 8.32969C9.05357 8.32969 8.83929 8.37891 8.65714 8.57227C8.475 8.76914 7.96429 9.24023 7.96429 10.2C7.96429 11.1598 8.675 12.0879 8.77143 12.218C8.87143 12.348 10.1679 14.3168 12.1571 15.1641C13.4143 15.6984 13.9071 15.7441 14.5357 15.6527C14.9179 15.5965 15.7071 15.1816 15.8714 14.7246C16.0357 14.2676 16.0357 13.8773 15.9857 13.7965C15.9393 13.7086 15.8071 13.6594 15.6107 13.5645Z" fill="currentColor"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1189_9353">
                            <rect width="16" height="16" fill="currentColor" transform="translate(4 4)"/>
                        </clipPath>
                        </defs>
                    </svg>`)

                
