- 
  var itemsFirst = [
    { name: 'О центре', href: '/about.html' },
    { name: 'Акции и новости', href: '/promotions.html' },
    { name: 'Афиша', href: '/about.html' },
    { name: 'Фудхолл днк', href: '/foodhall.html' }
  ]

- 
  var itemsSecond = [
    { name: 'Паркинг', href: '/parking.html' },
    { name: 'Услуги', href: '/services.html' },
    { name: 'Арендаторам', href: '/tenant.html' },
    { name: 'Рекламодателям', href: '/advertising.html' }
  ]

- 
  var itemsThird = [
    { name: 'Карьера', href: '#' },
    { name: 'Тендеры', href: '#' },
    { name: 'Контакты', href: '#' }
  ]


mixin footerMenu(cls='')
  .footer__menu(class=cls)
    ul.footer__menu-items
      each item in itemsFirst
        li
          a(href=item.href)= item.name 
    ul.footer__menu-items
      each item in itemsSecond
        li
          a(href=item.href)= item.name
    ul.footer__menu-items
      each item in itemsThird
        li
          a(href=item.href)= item.name
    .footer__menu-square


