extends ../layout

block content
    - 
        const aboutCategoryCards = [
            {
                title: 'Пространство, где люди любого возраста могут с пользой проводить рабочее и свободное время',
                poster: {
                    img: 'hero',
                    desc: 'Новаторский подход к современной урбанистике, где функциональность и эстетика тесно переплетаются и соответствуют актуальным мировым тенденциям в архитектуре и организации общественных коммерческих объектов',
                    hover: false
                }
            },
            {
                title: 'Забота об экологии',
                poster: {
                    img: 'poster6',
                    desc: 'Мы стремимся минимизировать негативное воздействие на природу, используя энергосберегающие технологии, перерабатывая отходы и пропагандируя экологичный образ жизни среди наших сотрудников и посетителей',
                    arrow: true
                }
            },
            {
                title: 'Яркие моменты АРТ Центра',
                slider: {
                    img: ['about', 'poster3']
                }
            },
            {
                title: 'Коммерческие предложения',
                offerCards: [
                    {
                        name: 'Арендаторам',
                        desc: 'В частности, высококачественный прототип будущего проекта является качественно новой ступенью прогресса профессионального сообщества.'
                    },
                    {
                        name: 'Рекламодателям',
                        desc: 'А также тщательные исследования конкурентов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть своевременно верифицированы.'
                    }
                ]
            }
        ]

    -  
        const aboutTabItems = [
            {
                name: 'Пространство',
                href: 'Пространство, где люди любого возраста могут с пользой проводить рабочее и свободное время'
            },
            {
                name: 'Забота об экологии',
                href: 'Забота об экологии'
            },
            {
                name: 'Яркие моменты АРТ Центра',
                href: 'Яркие моменты АРТ Центра'
            },
            {
                name: 'Коммерческие предложения',
                href: 'Коммерческие предложения'
            },
        ]

    +categoryLayout('О центре', aboutTabItems, aboutCategoryCards, false)