extends ../layout


block content


  -  
    const activityCategoryCards = MOCK_DATA.activityCards;
    
    const activityTabItems = [
      {
        name: 'Хобби-центр',
        href: 'Хобби-центр',
        active: true
      },
      {
        name: 'Фудхолл ДНК',
        href: 'Фудхолл ДНК',
        active: false
      },
      {
        name: 'Мероприятия',
        href: 'Мероприятия',
        active: false
      },
      {
        name: 'Комьюнити зоны',
        href: 'Комьюнити зоны',
        active: false
      },
      {
        name: 'Интерактивный музей',
        href: 'Интерактивный музей',
        active: false
      },
      {
        name: 'Детская площадка',
        href: 'Современная детская площадка',
        active: false
      },
    ]

  +categoryLayout('Для развлечений', activityTabItems, activityCategoryCards)
