extends ../layout

block content
    - 
        const businessCategoryCards = [
            {
                title: 'Бизнес-центр',
                poster: {
                    desc: 'Современный комплекс для работы и мероприятий, с офисами, залами и услугами. Здесь комфортно и эффективно вести бизнес',
                    img: 'poster3',
                    button: 'Подробнее'
                }
            },
            {
                title: 'Открытый коворкинг',
                poster: {
                    img: 'poster2',
                    desc: 'Современный комплекс для работы и мероприятий, с офисами, залами и услугами. Здесь комфортно и эффективно вести бизнес',
                    hover: false,
                    full: true
                }
            },
            {
                title: 'Мероприятия',
                cards: [
                    {
                        name: 'Руки Вверх!',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье']
                    },
                    {
                        name: 'Баста',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье']
                    },
                    {
                        name: 'Macan',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Алиса в Стране чудес',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Sqwoz Bab',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: '36 событий',
                    }
                ]
            },
            {
                title: 'Аренда площадки для мероприятия',
                poster: {
                    desc: 'Арендуйте пространство для мероприятий в нашем арт-пространстве, мы создадим идеальные условия для вашего события',
                    img: 'poster1',
                    button: 'Подробнее'
                },
            },
        ]

    -  
        const businessTabItems = [
            {
                name: 'Бизнес-центр',
                href: 'Бизнес-центр'
            },
            {
                name: 'Коворкинг',
                href: 'Открытый коворкинг'
            },
            {
                name: 'Мероприятия',
                href: 'Мероприятия'
            },
            {
                name: 'Аренда площадки',
                href: 'Аренда площадки для мероприятия'
            },
        ]

    +categoryLayout('Для бизнеса', businessTabItems, businessCategoryCards)