extends ../layout

block content

    -
        const accordionContentItems = [
            {
                name: 'Руководитель отдела продаж',
                price: '80 000 – 100 000 ₽',
                button: 'Откликнуться',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Тебе предстоит',
                        items: [
                            'Применять навыки и опыт для успешной организации обучения сотрудников внутри магазина',
                            'Участвовать в подборе персонала, а именно проводить собеседование и оценку кандидатов',
                            'Контролировать соблюдение правил выкладки товара согласно планограммам компании и стандартов обслуживания',
                            'Участвовать в открытии/закрытии смены'
                        ]
                    },
                    {
                        title: 'Мы предлагаем',
                        items: [
                            'Полное соблюдение ТК РФ',
                            'Уверенность в завтрашнем дне со стабильным доходом',
                            'Интересное обучение для работы с не менее интересным продуктом',
                            'Возможность развиваться в сфере продаж'
                        ]
                    }
                ]
            },
            {
                name: 'Руководитель отдела продаж',
                price: '40 000 – 45 000 ₽',
                button: 'Откликнуться',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Тебе предстоит',
                        items: [
                            'Применять навыки и опыт для успешной организации обучения сотрудников внутри магазина',
                            'Участвовать в подборе персонала, а именно проводить собеседование и оценку кандидатов',
                            'Контролировать соблюдение правил выкладки товара согласно планограммам компании и стандартов обслуживания',
                            'Участвовать в открытии/закрытии смены'
                        ]
                    },
                    {
                        title: 'Мы предлагаем',
                        items: [
                            'Полное соблюдение ТК РФ',
                            'Уверенность в завтрашнем дне со стабильным доходом',
                            'Интересное обучение для работы с не менее интересным продуктом',
                            'Возможность развиваться в сфере продаж'
                        ]
                    }
                ]
            },
            {
                name: 'Администратор магазина',
                price: '90 000 – 115 000 ₽',
                button: 'Откликнуться',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Тебе предстоит',
                        items: [
                            'Применять навыки и опыт для успешной организации обучения сотрудников внутри магазина',
                            'Участвовать в подборе персонала, а именно проводить собеседование и оценку кандидатов',
                            'Контролировать соблюдение правил выкладки товара согласно планограммам компании и стандартов обслуживания',
                            'Участвовать в открытии/закрытии смены'
                        ]
                    },
                    {
                        title: 'Мы предлагаем',
                        items: [
                            'Полное соблюдение ТК РФ',
                            'Уверенность в завтрашнем дне со стабильным доходом',
                            'Интересное обучение для работы с не менее интересным продуктом',
                            'Возможность развиваться в сфере продаж'
                        ]
                    }
                ]
            },
            {
                name: 'Руководитель отдела продаж',
                price: 'з/п не указана',
                button: 'Откликнуться',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Тебе предстоит',
                        items: [
                            'Применять навыки и опыт для успешной организации обучения сотрудников внутри магазина',
                            'Участвовать в подборе персонала, а именно проводить собеседование и оценку кандидатов',
                            'Контролировать соблюдение правил выкладки товара согласно планограммам компании и стандартов обслуживания',
                            'Участвовать в открытии/закрытии смены'
                        ]
                    },
                    {
                        title: 'Мы предлагаем',
                        items: [
                            'Полное соблюдение ТК РФ',
                            'Уверенность в завтрашнем дне со стабильным доходом',
                            'Интересное обучение для работы с не менее интересным продуктом',
                            'Возможность развиваться в сфере продаж'
                        ]
                    }
                ]
            },
            {
                name: 'Руководитель отдела продаж',
                price: '50 000 – 60 000 ₽',
                button: 'Откликнуться',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Тебе предстоит',
                        items: [
                            'Применять навыки и опыт для успешной организации обучения сотрудников внутри магазина',
                            'Участвовать в подборе персонала, а именно проводить собеседование и оценку кандидатов',
                            'Контролировать соблюдение правил выкладки товара согласно планограммам компании и стандартов обслуживания',
                            'Участвовать в открытии/закрытии смены'
                        ]
                    },
                    {
                        title: 'Мы предлагаем',
                        items: [
                            'Полное соблюдение ТК РФ',
                            'Уверенность в завтрашнем дне со стабильным доходом',
                            'Интересное обучение для работы с не менее интересным продуктом',
                            'Возможность развиваться в сфере продаж'
                        ]
                    }
                ]
            },
        ]

    .page__layout
        +pageHeading('Карьера')
        .accordion
            +accordion(accordionContentItems)
            +advertisingManager
            +application
