extends ../layout

block content
    - 
        const servicesCategoryCards = [
            {
                title: 'Семейный ресторан «Халяль»',
                poster: {
                    img: 'poster5',
                    desc: 'Ресторан предлагает широкий выбор вкусных и полезных блюд национальной татарской кухни. Здесь вы сможете насладиться традиционными супами, салатами, горячими блюдами из мяса и рыбы, а также разнообразными десертами',
                    arrow: true
                }
            },
            {
                title: 'Мероприятия',
                cards: [
                    {
                        name: 'Руки Вверх!',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье']
                    },
                    {
                        name: 'Баста',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье']
                    },
                    {
                        name: 'Macan',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Алиса в Стране чудес',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Sqwoz Bab',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: '36 событий',
                    }
                ]
            },
            {
                title: 'Национальные деликатесы',
                poster: {
                    img: 'poster2',
                    desc: 'Татарские национальные деликатесы включают мясные блюда, такие как вяленый гусь, казылык и аргамак, а также картофельные блюда, например, кыстыбый и кыздырма. Специи, особенно чёрный перец, важны в татарской кухне.'
                }
            },
            {
                title: 'Интерактивный музей',
                poster: {
                    img: 'poster2',
                    desc: 'Мир удивительных мультимедийных экспонатов об истории и современности Казани, созданный учёными, художниками, дизайнерами, инженерами с применением самых современных цифровых технологий',
                    button : "Смотреть на карте"
                }
            },
            {
                title: 'Молельная комната',
                poster: {
                    img: 'poster2',
                    desc: 'Особое пространство, чтобы совершить намаз или прочитать дуа. Здесь можно найти спокойствие и уединение, чтобы обратиться к Всевышнему. Комната соответствует всем требованиям халяль',
                    arrow : true
                }
            }
        ]

    -  
        const servicesTabItems = [
            {
                name: 'Семейный ресторан',
                href: 'Семейный ресторан «Халяль»'
            },
            {
                name: 'Мероприятия',
                href: 'Мероприятия'
            },
            {
                name: 'Национальные деликатесы',
                href: 'Национальные деликатесы'
            },
            {
                name: 'Интерактивный музей',
                href: 'Интерактивный музей'
            },
            {
                name: 'Молельная комната',
                href: 'Молельная комната'
            },
        ]

    +categoryLayout('Гостям Казани', servicesTabItems, servicesCategoryCards)