extends ../layout

block content
    - 
        const promotionItems = [
            {
                name: 'Все',
                cards: [
                    {
                        name: 'Мастер-класс по лепке из глины',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['5 мая, 22:00', 'Воскресенье']
                    },
                    {
                        name: 'Учимся готовить пиццу',
                        price: 'Бесплатно',
                        img: 'hobby',
                        items: ['5 мая, 22:00', 'Воскресенье']
                    },
                    {
                        name: 'Сборка сложных моделей из конструктора',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Учимся делать десерты',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'Бесплатно',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Игры на свежем воздухе',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Время танцев!',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                ]
            },
            {
                name: 'Гончарное дело',
                cards: [
                    {
                        name: 'Мастер-класс по лепке из глины',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['5 мая, 22:00', 'Воскресенье']
                    },
                ]
            },
            {
                name: 'Кулинария',
                cards: [
                    {
                        name: 'Учимся готовить пиццу',
                        price: 'Бесплатно',
                        img: 'hobby',
                        items: ['5 мая, 22:00', 'Воскресенье']
                    },
                    {
                        name: 'Учимся делать десерты',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'Бесплатно',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                ]
            },
            {
                name: 'Лего центр',
                cards: [
                    {
                        name: 'Сборка сложных моделей из конструктора',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                ]
            },
            {
                name: 'Для детей',
                cards: [
                    {
                        name: 'Игры на свежем воздухе',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Время танцев!',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Сборка сложных моделей из конструктора',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                ]
            },
            {
                name: 'Для взрослых',
                cards: [
                    {
                        name: 'Игры на свежем воздухе',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                    {
                        name: 'Время танцев!',
                        desc: '10 мая, 20:00 Пятница',
                        price: 'от 2 400 р.',
                        img: 'hobby',
                        items: ['10 мая, 20:00', 'Пятница']
                    },
                ]
            }
        ]

    .page__layout
        +pageHeading('Хобби центр')
        +tabs(promotionItems)
        +application('tabs__application')
