extends ../layout

block content

  -
    const parentsCategoryCards = [
      {
        title: 'Фудхолл ДНК',
        cards: [
          {
            name: 'Татарская',
            img: 'parent2',
            items: ['Плов' , 'Кастырбай', 'Чак-чак']
          },
          {
            name: 'Европейская',
            img: 'parent2',
            items: ['Паста' , 'Ростбиф', 'Вино']
          },
          {
            name: 'Русская',
            img: 'parent2',
            items: ['Пельмени' , 'Борщ', 'Блины']
          },
          {
            name: 'Азиатская',
            img: 'parent2',
            items: ['Фо-бо' , 'Фунчоза', 'Лапша']
          },
          {
            name: 'Японская',
            img: 'parent2',
            items: ['Суши' , 'Темпура', 'Рамен']
          },
          {
            name: '32 ресторана',
          }
        ]
      },
      {
        title: 'Хобби-центр',
        cards: [
          {
            name: 'Лего центр',
            desc: 'Широкий ассортимент конструкторов и аксессуаров к ним: от игровых наборов до коллекционных моделей для всех',
            img: 'parent1',
          },
          {
            name: 'Активности для детей',
            desc: 'Командные занятия, спортивные мероприятия, настольные игры, рукоделие и многое другое',
            img: 'parent1',
          },
          {
            name: 'Гончарное дело',
            desc: 'Гончарные мастер-классы для детей и взрослых, проведите время в творческой команде',
            img: 'parent1',
          },
          {
            name: '36 событий',
          }
        ]
      },
      {
        title: 'Современная детская площадка',
        poster: {
          desc: 'Место, где дети могут играть и развиваться, погружаясь в творческую атмосферу',
          img: 'poster1',
          arrow: true,
        },
      },
      {
        title: 'Мероприятия',
        cards: [
          {
            name: 'Руки Вверх!',
            price: 'от 1500 р.',
            img: 'parent3',
            items: ['5 мая, 22:00', 'Воскресенье']
          },
          {
            name: 'Баста',
            price: 'от 1500 р.',
            img: 'parent3',
            items: ['5 мая, 22:00', 'Воскресенье']
          },
          {
            name: 'Macan',
            desc: '10 мая, 20:00 Пятница',
            price: 'от 1500 р.',
            img: 'parent3',
            items: ['10 мая, 20:00', 'Пятница']
          },
          {
            name: 'Алиса в Стране чудес',
            desc: '10 мая, 20:00 Пятница',
            price: 'от 1500 р.',
            img: 'parent3',
            items: ['10 мая, 20:00', 'Пятница']
          },
          {
            name: 'Sqwoz Bab',
            desc: '10 мая, 20:00 Пятница',
            price: 'от 1500 р.',
            img: 'parent3',
            items: ['10 мая, 20:00', 'Пятница']
          },
          {
            name: '36 событий',
          }
        ]
      },
      {
        title: 'Магазины',
        cards: [
          {
            name: 'Сlever',
            img: 'purchase1',
            logo: 'purchase-logo'
          },
          {
            name: 'Gloria Jeans',
            desc: '',
            img: 'purchase2',
            logo: 'purchase-logo1'
          },
          {
            name: 'Zola',
            desc: '',
            img: 'purchase1',
            logo: 'purchase-logo2'
          },
          {
            name: 'kari',
            desc: '',
            img: 'purchase3',
            logo: 'purchase-logo3'
          },
          {
            name: '36 магазинов',
          }
        ]
      }
    ]

  -  
    const parentsTabItems = [
      {
        name: 'Фудхолл ДНК',
        href: 'Фудхолл ДНК',
        active: true
      },
      {
        name: 'Хобби-центр',
        href: 'Хобби-центр',
        active: false
      },
      {
        name: 'Детская площадка',
        href: 'Современная детская площадка',
        active: false
      },
      {
        name: 'Мероприятия',
        href: 'Мероприятия',
        active: false
      },
      {
        name: 'Магазины',
        href: 'Магазины',
        active: false
      }
    ]

  +categoryLayout('Родителям и детям', parentsTabItems, parentsCategoryCards)