extends ../layout

block content

    -
        const foodhallItems = [
            {
                name: 'Все',
                cards: [
                    {
                        name: 'Руки Вверх!',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Баста',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Macan',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Алиса в Стране чудес',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Sqwoz Bab',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Руки Вверх!',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Баста',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Macan',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Алиса в Стране чудес',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Sqwoz Bab',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                ]
            },
            {
                name: 'Для взрослых',
                cards: [
                    {
                        name: 'Баста',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Macan',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Алиса в Стране чудес',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                ]
            },
            {
                name: 'Для детей',
                cards: [
                    {
                        name: 'Баста',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['5 мая, 22:00', 'Воскресенье'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Macan',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Алиса в Стране чудес',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Sqwoz Bab',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                ]
            },
            {
                name: 'Для деловых людей',
                cards: [
                    {
                        name: 'Macan',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Алиса в Стране чудес',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                    {
                        name: 'Sqwoz Bab',
                        price: 'Бесплатно',
                        img: 'parent3',
                        items: ['10 мая, 20:00', 'Пятница'],
                        href: "/event-detail.html"
                    },
                ]
            },
        ]
    .page__layout
        +pageHeading('Афиша')
        +tabs(foodhallItems, true)
        +application('tabs__application', 'openDrawer openModal')
        +modal
        +drawer
