extends ../layout

block content

    -
        const detailsSliderImg = ['poster1', 'poster2', 'poster3']

    .page__layout
        +pageHeading('Магазин')
        +detailsCard('shopDetails', 'Мы в SPAR знаем, что питание — основа здоровой жизни, и хотим, чтобы каждый день на вашем столе была только качественная еда', 'SPAR', 'spar@art-center.ru', '+7 (999) 876-54-32', 'На сайт магазина')
        .details__slider-wrapper
            h3.details__slider-title Галерея
            +sliderCard(detailsSliderImg, 'details')
        +application('tabs__application')