extends ../layout

block content

    -
        const accordionContentItems = [
            {
                name: 'Полное строительство и реконструкция зданий и сооружений',
                tags: ['Информационные технологии', 'Телекоммуникация'],
                date: 'по 15.04.2024 15:00 мск',
                button: 'Оставить заявку',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Способ размещения',
                        desc: 'Запросы котировок и предложений, запрос предложений'
                    },
                ]
            },
            {
                name: 'Выполнение консалтинговых, проектных и изыскательных работ в сфере связи',
                tags: ['Информационные технологии', 'Телекоммуникация'],
                date: 'по 15.04.2024 15:00 мск',
                button: 'Оставить заявку',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Способ размещения',
                        desc: 'Запросы котировок и предложений, запрос предложений'
                    },
                ]
            },
            {
                name: 'Промышленное Холодильное оборудование (кроме кондиционеров), монтаж и обслуживание',
                tags:['Строительство и ремонт'],
                date: 'по 15.04.2024 15:00 мск',
                button: 'Оставить заявку',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Способ размещения',
                        desc: 'Запросы котировок и предложений, запрос предложений'
                    },
                ]
            },
            {
                name: 'Оборудование для газопереработки, газопроводов и газораспределения',
                tags: ['Информационные технологии'],
                date: 'по 15.04.2024 15:00 мск',
                button: 'Оставить заявку',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Способ размещения',
                        desc: 'Запросы котировок и предложений, запрос предложений'
                    },
                ]
            },
            {
                name: 'Услуги в области рекламы и маркетинга',
                tags: ['smm'],
                date: 'по 15.04.2024 15:00 мск',
                button: 'Оставить заявку',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Способ размещения',
                        desc: 'Запросы котировок и предложений, запрос предложений'
                    },
                ]
            },
            {
                name: 'Сертификация, аккредитация, лицензирование',
                tags: ['smm'],
                date: 'по 15.04.2024 15:00 мск',
                button: 'Оставить заявку',
                blocks: [
                    {
                        text: 'Мы собираем команду единомышленников, активных и целеустремленных людей, которые вместе с нами будут развиваться, открывать новые магазины, захватывать рынок онлайн торговли, разрабатывать новые дизайны. Если ты также как и мы хочешь расти и достигать больших целей, мы ждем тебя!'
                    },
                    {
                        title: 'Способ размещения',
                        desc: 'Запросы котировок и предложений, запрос предложений'
                    },
                ]
            },
        ]

    .page__layout
        +pageHeading('Тендера')
        .accordion
            +accordion(accordionContentItems)
            +application('','openDrawer openModal')
            +modal
            +drawer
