extends ../layout

block content

  -
    const parentsCategoryCards = [
      {
        image: 'text',
        id: 'Заголовок H1',
      },
      {
        textBlock: {
          text1: 'Прогрессивный девелопер с технологичным подходом к реализации проектов. Благодаря профессиональной команде, мы не боимся быть новаторами в решениях и часто становимся <a href="#"> примером для других. </a>',
          text2: 'Прогрессивный девелопер с технологичным подходом к реализации проектов. Благодаря профессиональной команде, мы не боимся быть новаторами в решениях и часто становимся',
          button1: 'Кнопка',
          button2: 'Кнопка',
        }
      },
      {
        title: 'Заголовок H2',
        list: [
          'Применять навыки и опыт для успешной организации обучения сотрудников внутри магазина',
          'Участвовать в подборе персонала, а именно проводить собеседование и оценку кандидатов',
          'Контролировать соблюдения правил выкладки товара согласно планограммам компании и стандартов обслуживания',
          'Участвовать в открытии/закрытии смены'
        ]
      },
      {
        title: 'Заголовок H3',
        list: [
          'Применять навыки и опыт для успешной организации обучения сотрудников внутри магазина',
          'Участвовать в подборе персонала, а именно проводить собеседование и оценку кандидатов',
          'Контролировать соблюдения правил выкладки товара согласно планограммам компании и стандартов обслуживания',
          'Участвовать в открытии/закрытии смены'
        ]
      },
      {
        title: 'Заголовок H4',
        desc: 'Прогрессивный девелопер с технологичным подходом к реализации проектов. Благодаря профессиональной команде, мы не боимся быть новаторами в решениях и часто становимся'
      },
      {
        slider: ['poster1', 'poster2', 'poster3'],
      },
      {
        title: 'Заголовок H5',
        desc: 'Прогрессивный девелопер с технологичным подходом к реализации проектов. Благодаря профессиональной команде, мы не боимся быть новаторами в решениях и часто становимся'
      },
      {
        image: 'Table',
        id: 'Заголовок H5',
      },
    ]

  -  
    const parentsTabItems = [
      {
        name: 'Заголовок 1',
        href: 'Заголовок H1',
        active: true
      },
      {
        name: 'Заголовок 2',
        href: 'Заголовок H2',
        active: false
      },
      {
        name: 'Заголовок 3',
        href: 'Заголовок H3',
        active: false
      },
      {
        name: 'Заголовок 4',
        href: 'Заголовок H4',
        active: false
      },
      {
        name: 'Заголовок 5',
        href: 'Заголовок H5',
        active: false
      }
    ]

  +textPageLayout('MARCIANO by GUESS дарит подарки! H1', parentsTabItems, parentsCategoryCards, false, 'page__tabs-about')