include header/header
include footer/footer
include application/application
include pageHeading/pageHeading
include categoryLayout/categoryLayout
include advertisingLayout/advertisingLayout
include tabs/tabs
include details/detailsCard
include applicationTabs/applicationTabs
include centerMap/centerMap