include ./posterCard
include ./sliderCard
include ./offerCard
include ./cardItem

mixin categoryCard(category)
    if category.cards && category.cards.length
        each card in category.cards
            +cardItem(card)
    else if category.poster
        +posterCard(category.poster)
    else if category.slider
        +sliderCard(category.slider.img)
    else if category.offerCards
        each offer in category.offerCards
            +offerCard(offer)
