include ../application/application.pug
include ./categoryCard.pug

mixin categoryLayout(page='', tabItems=[], categoryCards=[], showMenu=true)
  .page__layout
    if showMenu
      +navMenu(page)
    +pageHeading(page)
    .category__layout-content 
      +pageTabs(tabItems)
      .page__wrapper
        each category in categoryCards
          .page__category-block(id=category.title)
            span.page__category-block-line
            h4.page__category-title=category.title
            +categoryCard(category)
    +application('category__application', 'request')
    +drawer