mixin categoryDrawer
    .category__drawer
        .category__drawer-overlay
        .category__drawer-content
            .category__drawer-header
                .category__drawer-drag
                    span
            .category__drawer-body
                a(href="#", class='category__drawer-item') Магазины
                a(href="#", class='category__drawer-item') Рестораны
                a(href="#", class='category__drawer-item') Фитнес
                a(href="#", class='category__drawer-item') Офисы
                a(href="#", class='category__drawer-item') Коворкинг
    