mixin offerCard(offer)
    a(href=offer.href).offer__card
        .offer__card-text
            h4.offer__card-title=offer.name
            p.offer__card-desc=offer.desc
        .offer__card-bottom
            .offer__card-square
            svg(width="20", height="20", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", clip-rule="evenodd", d="M14.4556 18.2996L2 17.9791L2.10449 22L19.2971 22L19.318 21.9789L19.8962 21.3937L20.4883 20.8013L20.8018 20.4947L21.3939 19.9023L21.9721 19.317L21.993 19.2963L22 2.10446L17.9805 2L18.3079 15.0314L18.3218 15.4006L6.21456 3.28926L3.28875 6.20906L15.4239 18.3554L14.4556 18.2996Z", fill="currentColor")
