mixin posterCard(poster)
    a(href="#", class=`page__category-poster ${  !poster.button || poster.hover && 'poster-hover'}`)
        .poster-img
            img(src=`/src/images/${poster.img}.png`, alt="Poster Image")
            .poster-triangle
                svg(width="64", height="64", viewBox="0 0 64 64", fill="none", xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd", clip-rule="evenodd", d="M64 64V0H0V1.58502C13.866 6.06967 25.578 12.3519 37.1246 22.6462C50.4547 36.1395 57.3648 48.9377 62.0229 64H64Z", fill="#f7f7f8")
            .poster-square
        if poster.desc
            .poster-bottom    
                .poster-desc(class=`${poster.button && 'poster__desc-btn'}`)
                    p= poster.desc
                    if poster.button
                        +button(poster.button, 'self')
                if poster.arrow    
                    .poster-arrow
                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M14.4556 18.2996L2 17.9791L2.10449 22L19.2971 22L19.318 21.9789L19.8962 21.3937L20.4883 20.8013L20.8018 20.4947L21.3939 19.9023L21.9721 19.317L21.993 19.2963L22 2.10446L17.9805 2L18.3079 15.0314L18.3218 15.4006L6.21456 3.28926L3.28875 6.20906L15.4239 18.3554L14.4556 18.2996Z" fill="currentColor")