mixin calendar
    .calendar
        button(class='calendar__btn left')
            svg(width="16", height="16", viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                g(clip-path="url(#clip0_1196_23032)")
                    path(d="M7.15572 9.44968L11.9739 14.0261L10.4181 15.5031L3.93438 9.01932L3.93446 9.00349L3.93712 8.56472L3.93722 8.11801L3.93461 7.88417L3.93472 7.43746L3.93738 6.9987L3.93733 6.98299L10.4181 0.496922L11.9734 1.97338L6.93545 6.76435L6.79097 6.89833L5.79036 8L6.76951 9.10555L7.15572 9.44968Z", fill="#3A3943")
                        defs
                            clippath(id="clip0_1196_23032")
                                rect(width="16", height="16", fill="white", transform="matrix(-1 0 0 1 16 0)")
        .calendar__wrapper
            .calendar__prev-day
            .calendar__month-view
                .calendar__month
                .calendar__days
        button(class='calendar__btn right')
            svg(width="16", height="16", viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                g(clip-path="url(#clip0_1196_23032)")
                    path(d="M7.15572 9.44968L11.9739 14.0261L10.4181 15.5031L3.93438 9.01932L3.93446 9.00349L3.93712 8.56472L3.93722 8.11801L3.93461 7.88417L3.93472 7.43746L3.93738 6.9987L3.93733 6.98299L10.4181 0.496922L11.9734 1.97338L6.93545 6.76435L6.79097 6.89833L5.79036 8L6.76951 9.10555L7.15572 9.44968Z", fill="#3A3943")
                        defs
                            clippath(id="clip0_1196_23032")
                                rect(width="16", height="16", fill="white", transform="matrix(-1 0 0 1 16 0)")