include ./_roller

mixin menu

    - 
        const menuItems = [
            {
                name: 'О центре',
                href: '/about.html'
            },
            {
                name: 'Акции и новости',
                href: '/promotions.html'
            },
            {
                name: 'Афиша',
                href: '/poster.html'
            },
            {
                name: 'Фудхолл ДНК',
                href: '/foodhall.html'
            },
            {
                name: 'Как добраться',
                href: '/contact.html'
            },
            {
                name: 'Карта центра',
                href: '#'
            }
        ]

    ul.menu  
        each item in menuItems
            li
                a(href=item.href, class=`${item.name === 'Карта центра' ? 'center__popup-btn' : ''}`)
                    +roller(item.name)  
