include ./_roller
//- ['О центре', 'Акции и новости', 'Афиша', 'Фудхолл ДНК', 'Как добраться', 'Карта центра']

mixin menu

    - 
        const menuItems = [
            {
                name: 'О центре',
                href: '/about.html'
            },
            {
                name: 'Акции и новости',
                href: '/promotions.html'
            },
            {
                name: 'Афиша',
                href: '#'
            },
            {
                name: 'Фудхолл ДНК',
                href: '#'
            },
            {
                name: 'Как добраться',
                href: '#'
            },
            {
                name: 'Карта центра',
                href: '#'
            }
        ]

    ul.menu  
        each item in menuItems
            li
                a(href=item.href)
                    +roller(item.name)  
