- var menuItems = ['О центре', 'Акции и новости', 'Афиша', 'Фудхолл ДНК', 'Как добраться', 'Карта центра']

mixin menu
    ul.menu  
        each item in menuItems
            li
                a(href="#")= item  
