mixin pageTabs(pageTabsItems=[])
  .page__tabs-wrapper
    .page__tabs-items
      each tab, index in pageTabsItems
        - const isLastItem = index === pageTabsItems.length - 1
        a(href=`#${tab.href}`, class=`page__tabs-item  ${isLastItem && 'page__tabs-last'}`) 
          p=tab.name
          span=tab.quantity 
