-
    const sliderItems = [
        {
            date: ' 10 Апреля',
            text: 'Готовимся к лету с АРТ ЦЕНТРОМ',
            img: 'hero'
        },
        {
            date: ' 10 Апреля',
            text: 'Готовимся к лету с АРТ ЦЕНТРОМ',
            img: 'hero'
        },
        {
            date: ' 10 Апреля',
            text: 'Готовимся к лету с АРТ ЦЕНТРОМ',
            img: 'hero'
        },
        {
            date: ' 10 Апреля',
            text: 'Готовимся к лету с АРТ ЦЕНТРОМ',
            img: 'hero'
        },
        {
            date: ' 10 Апреля',
            text: 'Готовимся к лету с АРТ ЦЕНТРОМ',
            img: 'hero'
        }
    ]

mixin slider
    .swiper
        .swiper-wrapper
            each slide in sliderItems
                .swiper-slide
                    .swiper-image-wrapper 
                        img(src=`/src/images/${slide.img}.png` alt="hero")
                        .swiper-square
                        .swiper-triangle 
                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M64 64V0H0V1.58502C13.866 6.06967 25.578 12.3519 37.1246 22.6462C50.4547 36.1395 57.3648 48.9377 62.0229 64H64Z" fill="#F7F7F8"/>
                            </svg>     
                    .swiper-text
                        p.swiper-paragraph= slide.date
                        p.swiper-title= slide.text
        .swiper-pagination
        .swiper-arrow-wrapper 
            img(src="/src/images/Arrow.svg" alt="arrow" class="swiper-arrow")    