mixin calendar2
    .calendar2-container
        button(class="scroll-button left-button") &lt;
        .calendar2-wrapper
            .calendar2-year
        button(class="scroll-button right-button") &gt;

