include ../components/_button
include ../components/_menu

mixin header
    .header
        .header__wrapper
            a(href="/") 
                svg(width="126", height="40", viewBox="0 0 126 40", fill="none", xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd", clip-rule="evenodd", d="M103.151 39.9999H86.5371V23.6465H103.151V39.9999Z", fill="currentColor")
                    path(fill-rule="evenodd", clip-rule="evenodd", d="M125.986 37.6855V0H88.3398V0.93332C96.4962 3.57404 103.385 7.27326 110.177 13.3349C118.019 21.2802 122.083 28.8163 124.823 37.6855H125.986Z", fill="currentColor")
                    path(d="M33.2521 3.25146H37.1477L42.3489 17.9909H39.7374L38.6215 14.7482H31.7361L30.578 17.9909H27.9668L33.2521 3.25146ZM32.4733 12.4952H37.8636L35.2102 4.8938L32.4733 12.4952Z", fill="currentColor")
                    path(d="M44.6123 17.9909V3.25146H51.2448C52.663 3.25146 53.8423 3.73215 54.7825 4.69387C55.7229 5.65528 56.1931 6.81693 56.1931 8.1785C56.1931 9.56823 55.7265 10.7334 54.7932 11.6739C53.8594 12.6146 52.6771 13.0849 51.2448 13.0849H47.1179V17.9909H44.6123ZM47.1179 10.8316H50.9922C51.8207 10.8316 52.4768 10.5685 52.9611 10.042C53.4457 9.51585 53.6875 8.87352 53.6875 8.11534C53.6875 7.35747 53.4457 6.73279 52.9611 6.24132C52.4768 5.75016 51.8207 5.50442 50.9922 5.50442H47.1179V10.8316Z", fill="currentColor")
                    path(d="M58.0791 3.25146H69.9338V5.58856H65.3432V17.9909H62.8376V5.58856H58.0791V3.25146Z", fill="currentColor")
                    path(d="M10.615 36.0524H12.5955V38.3903H10.0888H0V23.647H2.46477V36.0524H8.15054V23.647H10.615V36.0524ZM26.2944 23.647V25.9636H17.7429V29.881H25.4516V32.1566H17.7429V36.0739H26.2944V38.3903H15.2577V23.647H26.2944ZM31.6746 23.647V29.881H39.2143V23.647H41.7209V38.3903H39.2143V32.1348H31.6746V38.3903H29.1895V23.647H31.6746ZM44.2158 23.647H56.0744V25.9852H51.4824V38.3903H48.9762V25.9852H44.2158V23.647ZM58.5896 38.3903V23.647H65.2246C66.6419 23.647 67.822 24.1283 68.7625 25.0902C69.703 26.0521 70.1732 27.2132 70.1732 28.5751C70.1732 29.9654 69.7063 31.1317 68.7735 32.0722C67.8397 33.0126 66.6557 33.4829 65.2246 33.4829H61.0965V38.3903H58.5896ZM61.0965 31.2291H64.9714C65.7997 31.2291 66.4557 30.9662 66.9403 30.4401C67.4252 29.9136 67.6676 29.2704 67.6676 28.5125C67.6676 27.7549 67.4252 27.13 66.9403 26.6382C66.4557 26.1462 65.7997 25.901 64.9714 25.901H61.0965V31.2291Z", fill="currentColor")
            +menu
            +menuButton('Меню')
        +burgerMenu
        +centerMap
