include ../components/_button
include ../components/_menu

mixin header
    .header
        .header__wrapper
            a(href="/") 
                svg(width="127" height="40" viewBox="0 0 152 48" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M123.781 48.0001H103.844V28.376H123.781V48.0001Z" fill="currentColor")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M151.183 45.2226V0H106.008V1.11998C115.795 4.28885 124.063 8.72791 132.213 16.0019C141.622 25.5363 146.5 34.5796 149.788 45.2226H151.183Z" fill="currentColor")
                    path(d="M39.9029 3.90186H44.5776L50.819 21.5892H47.6853L46.3462 17.6979H38.0837L36.694 21.5892H33.5605L39.9029 3.90186ZM38.9683 14.9944H45.4367L42.2526 5.87265L38.9683 14.9944Z" fill="currentColor")
                    path(d="M53.5342 21.5892V3.90186H61.4932C63.195 3.90186 64.6101 4.47868 65.7384 5.63274C66.8669 6.78644 67.4312 8.18041 67.4312 9.8143C67.4312 11.482 66.8712 12.8802 65.7512 14.0088C64.6307 15.1376 63.2119 15.7019 61.4932 15.7019H56.5409V21.5892H53.5342ZM56.5409 12.998H61.1901C62.1842 12.998 62.9716 12.6823 63.5528 12.0505C64.1342 11.4191 64.4245 10.6483 64.4245 9.73851C64.4245 8.82906 64.1342 8.07945 63.5528 7.48969C62.9716 6.90029 62.1842 6.6054 61.1901 6.6054H56.5409V12.998Z" fill="currentColor")
                    path(d="M69.6943 3.90186H83.9199V6.70636H78.4113V21.5892H75.4046V6.70636H69.6943V3.90186Z" fill="currentColor")
                    path(d="M12.738 43.263H15.1146V46.0685H12.1066H0V28.3765H2.95773V43.263H9.78065V28.3765H12.738V43.263ZM31.5533 28.3765V31.1565H21.2915V35.8573H30.5419V38.588H21.2915V43.2888H31.5533V46.0685H18.3093V28.3765H31.5533ZM38.0095 28.3765V35.8573H47.0571V28.3765H50.0651V46.0685H47.0571V38.5619H38.0095V46.0685H35.0274V28.3765H38.0095ZM53.0589 28.3765H67.2892V31.1823H61.7788V46.0685H58.7715V31.1823H53.0589V28.3765ZM70.3075 46.0685V28.3765H78.2695C79.9703 28.3765 81.3864 28.954 82.515 30.1083C83.6436 31.2627 84.2078 32.656 84.2078 34.2902C84.2078 35.9586 83.6475 37.3582 82.5282 38.4867C81.4076 39.6153 79.9869 40.1796 78.2695 40.1796H73.3158V46.0685H70.3075ZM73.3158 37.475H77.9657C78.9596 37.475 79.7469 37.1596 80.3284 36.5282C80.9102 35.8964 81.2011 35.1245 81.2011 34.2151C81.2011 33.306 80.9102 32.556 80.3284 31.966C79.7469 31.3756 78.9596 31.0813 77.9657 31.0813H73.3158V37.475Z" fill="currentColor")
            +menu
            +menuButton('Меню')
        +burgerMenu
        +centerMap
