mixin centerDrawer(items)
    .center__drawer
        .center__drawer-overlay
        .center__drawer-content
            .center__drawer-header
                .center__drawer-drag
                    span
            .center__drawer-body
                each item in items
                    a(href=`#${item.href}` class='center__drawer-item' data-name=item.name)=item.name
