mixin map
    <svg id="svg-map" width="3176" height="1953" viewBox="0 0 3176 1953" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path  d="M2978 1291H2976V1293V1951H959V1840V1838H957H192.5V1455.5H382.5H384.5V1453.5V1104.5V1102.5H382.5H2V430H114H116V428V78H1962.5V140V142H1964.5H2176.5H2178.5V140V102H2285.5V319V321H2287.5H3173.5V851H3088.5H3086.5V853V1291H2978Z" stroke="#3A3943" stroke-width="4"/>
        <rect x="2685.5" y="895" width="132" height="144" stroke="#3A3943" stroke-width="4"/>
        <rect x="2685.5" y="1086" width="132" height="94" stroke="#3A3943"  stroke-width="4"/>
        <rect x="2493.5" y="895" width="132" height="144" stroke="#3A3943" stroke-width="4"/>
        <rect x="2493.5" y="1086" width="132" height="94" stroke="#3A3943" stroke-width="4"/>
        <rect x="2301.5" y="895" width="132" height="144" stroke="#3A3943" stroke-width="4"/>
        <rect x="1727.5" y="895" width="121" height="144" stroke="#3A3943" stroke-width="4"/>
        <path d="M2153 1076V1111H1918.5V895H2209.5V1074H2155H2153V1076Z" stroke="#3A3943" stroke-width="4"/>
        <rect x="1727.5" y="709" width="121" height="127" stroke="#3A3943" stroke-width="4"/>
        <rect x="1727.5" y="1086" width="121" height="94" stroke="#3A3943" stroke-width="4"/>
        <rect x="1536.5" y="895" width="132" height="285" stroke="#3A3943" stroke-width="4"/>
        <rect x="2301.5" y="1086" width="132" height="94" stroke="#3A3943" stroke-width="4"/>
        <rect x="1051.5" y="719" width="293" height="462" stroke="#3A3943" stroke-width="4"/>
        <rect class='building' fill='#A91F4C' x="116.5" y="78" width="220" height="318" stroke="#3A3943" stroke-width="4"/>
        <text x="226.5" y="237"  class='building-text' text-anchor="middle" alignment-baseline="middle">Винотека</text>

        <path class='building' fill='#30733E' d="M336.5 78H580.5V515H364.5V412.5H336.5V78Z" stroke="#3A3943" stroke-width="4"/>
        <text x="458.5" y="296.5" class='building-text' text-anchor="middle" alignment-baseline="middle">Банк</text>

        <path class='building' fill='#30733E' d="M580.5 78H749V160.5H1005.5V515H580.5V78Z" stroke="#3A3943" stroke-width="4"/>
        <text x="792.75" y="296.5" class='building-text' text-anchor="middle" alignment-baseline="middle">TOP STRETCHING</text>

        <path data-title='Love Republic' class='building' fill='#30733E' d="M354.5 515H976.5V717H680.5V850H354.5V515Z" stroke="#3A3943" stroke-width="4"/>
        <text x="665.5" y="682.5" class='building-text' text-anchor="middle" alignment-baseline="middle" dy="-50">Love Republic</text>

        <rect class='building' fill='#30733E' x="680.5" y="717" width="296" height="133" stroke="#3A3943" stroke-width="4"/>
        <text x="828.5" y="783.5" class='building-text' text-anchor="middle" alignment-baseline="middle">APL Diamon</text>

        <path class='building' fill='#30733E' d="M529.5 894H976.5V1093H771.5V1273H583.5V1239H529.5V1093V894Z" stroke="#3A3943" stroke-width="4"/>
        <text x="753" y="1093.5" class='building-text'  text-anchor="middle" dominant-baseline="middle" dy="-100" top='10'>Charuel</text>

        <rect class='building' fill='#30733E' x="771.5" y="1093" width="205" height="180" stroke="#3A3943" stroke-width="4"/>
        <text x="874.0" y="1183"  class='building-text' text-anchor="middle" alignment-baseline="middle">Sunlight</text>

        <path class='building' fill='#30733E' d="M1546.5 1273H1733.5V1609H1546.5V1273Z" stroke="#3A3943" stroke-width="4"/>
        <text x="1640" y="1441" class='building-text' text-anchor="middle" alignment-baseline="middle">
            <tspan x="1640" dy="0">Mark</tspan>
            <tspan x="1640" dy="25">&andre</tspan>
            <tspan x="1640" dy="25">/palmetta</tspan>
        </text>

        <path class='building' fill='#30733E' d="M1733.5 1273H1851V1609H1733.5V1273Z" stroke="#3A3943" stroke-width="4"/>
        <text x="1792.25" y="1441" class='building-text' text-anchor="middle" alignment-baseline="middle">
            <tspan x="1792.25" dy="0">Pop</tspan>
            <tspan x="1792.25" dy="25">&popl</tspan>
        </text>

        <rect class='building' fill='#30733E' x="1917.5" y="1271" width="197" height="290" stroke="#3A3943" stroke-width="4"/>
        <text x="2016" y="1416" class='building-text' text-anchor="middle" alignment-baseline="middle">Рив Гош</text>

        <rect class='building' fill='#30733E' x="2114.5" y="1271" width="385" height="565" stroke="#3A3943" stroke-width="4"/>
        <text x="2307.25" y="1598.5" class='building-text' text-anchor="middle" alignment-baseline="middle">English home</text>

        <rect class='building' fill='#30733E' x="1157.5" y="481" width="199" height="124" stroke="#3A3943" stroke-width="4"/>
        <text x="1257.5" y="543" class='building-text' text-anchor="middle" alignment-baseline="middle">I Studio</text>

        <rect class='building' fill='#30733E' x="1157.5" y="327" width="199" height="154" stroke="#3A3943" stroke-width="4"/>
        <text x="1257.5" y="404"  class='building-text'text-anchor="middle" alignment-baseline="middle">Xiaomi</text>

        <path class='building' fill='#125A67' d="M1157.5 166H1267.5V102H1409.5V327H1157.5V166Z" stroke="#3A3943" stroke-width="4"/>
        <text x="1283.5" y="244.5" class='building-text' text-anchor="middle" alignment-baseline="middle">Skuratov</text>

        <path class='building' fill='#30733E' d="M2499.5 1271H2788.5V1740H2834.5V1836H2499.5V1271Z" stroke="#3A3943" stroke-width="4"/>
        <text x="2666.5" y="1553.5" class='building-text' text-anchor="middle" alignment-baseline="middle">
            <tspan x="2666.5" dy="0">YVES Rocher</tspan>
            <tspan x="2666.5" dy="25">/natura Siberica</tspan>
        </text>

        <path class='building' fill='#30733E' d="M587.5 1273H1546.5V1951H1152V1838H587.5V1273Z" stroke="#3A3943" stroke-width="4"/>
        <text x="1067" y="1612" class='building-text' text-anchor="middle" alignment-baseline="middle">Sela</text>

        <path class='building' fill='#125A67' d="M2788.5 1271H2976.5V1740H2788.5V1271Z" stroke="#3A3943" stroke-width="4"/>
        <text x="2882.5" y="1505.5" class='building-text' text-anchor="middle" alignment-baseline="middle">
            <tspan x="2882.5" dy="0">Ресторан</tspan>
            <tspan x="2882.5" dy="25">Счастье</tspan>
        </text>

        <path class='building' fill='#125A67' d="M1409.5 102H1733.5L1734.5 327H1409.5V102Z" stroke="#3A3943" stroke-width="4"/>
        <text x="1571.5" y="214.5" class='building-text' text-anchor="middle" alignment-baseline="middle">Салон красоты</text>

        <rect class='building' fill='#125A67' x="1356.5" y="327" width="186" height="278" stroke="#3A3943" stroke-width="4"/>
        <text x="1449.5" y="466" class='building-text ' text-anchor="middle" alignment-baseline="middle">
            <tspan x="1449.5" dy="0">Trend</tspan>
            <tspan x="1449.5" dy="25">optics</tspan>
        </text>

        <rect class='building' fill='#30733E' x="1542.5" y="327" width="192" height="278" stroke="#3A3943" stroke-width="4"/>
        <text x="1638.5" y="466" class='building-text' text-anchor="middle" alignment-baseline="middle">Geox</text>

        <path class='building building-light' fill='#30733E' d="M1734.5 78H1962.5V142H2179.5V102H2285V321H2547.5V605H1734.5V78Z" stroke="#3A3943" stroke-width="4"/>
        <text x="2141" y="353" class='building-text building-text-light' text-anchor="middle" alignment-baseline="middle" >
            <tspan x="2141" dx="-50" dy="0">Унистрой</tspan>
            <tspan x="2141" dx="-50" dy="25">Офис продаж</tspan>
        </text>

        <rect class='building' fill='#30733E' x="2110.5" y="605" width="95" height="199" stroke="#3A3943" stroke-width="4"/>
        <text x="2158" y="704.5" class='building-text building-text-small' text-anchor="middle" alignment-baseline="middle">
            <tspan x="2158" dy="0">Miuz</tspan>
            <tspan x="2158" dy="15">Diamond</tspan>
        </text>

        <rect class='building' fill='#30733E' x="2205.5" y="605" width="95" height="199" stroke="#3A3943" stroke-width="4"/>
        <text x="2253" y="704.5" class='building-text building-text-small' text-anchor="middle" alignment-baseline="middle">
            <tspan x="2253" dy="0">Le</tspan>
            <tspan x="2253" dy="15">Journal</tspan>
            <tspan x="2253" dy="15">intime</tspan>
        </text>

        <rect class='building' fill='#30733E' x="2300.5" y="605" width="200" height="199" stroke="#3A3943" stroke-width="4"/>
        <text x="2400.5" y="704.5" class='building-text' text-anchor="middle" alignment-baseline="middle">Sokolov</text>

        <path class='building' fill='#30733E' d="M2500.5 605H2547.5V398L2685.5 398V804H2500.5V605Z" stroke="#3A3943" stroke-width="4"/>
        <text x="2592" y="601" class='building-text' text-anchor="middle" alignment-baseline="middle" dy="50">Togas</text>

        <path class='building' fill='#30733E' d="M2685.5 440H2867.5V321H3173.5V851H3075.5V848H3015.5L2971.5 804H2685.5V440Z" stroke="#3A3943" stroke-width="4"/>
        <text x="2929.5" y="586" class='building-text' text-anchor="middle" alignment-baseline="middle">Kuchenland</text>

        <path d="M1051.5 719H1188.5V789H1051.5V719Z" stroke="#3A3943" stroke-width="4"/>
        <path d="M1051.5 902H1344.5V1091H1051.5V902Z" stroke="#3A3943" stroke-width="4"/>
        <path d="M1546 1609H1851V1830H1546V1609Z" stroke="#3A3943" stroke-width="4"/>
        <path d="M1869 1111H2153V1181H1869V1111Z" stroke="#3A3943" stroke-width="4"/>
        <rect fill='#3A3943' x="3086" y="902" width="76" height="361" stroke="#3A3943" stroke-width="4"/>
        <text x="3124" y="1082.5" class='building-text' text-anchor="middle" dominant-baseline="middle" transform="rotate(90, 3124, 1082.5)" >Вход / выход</text>

        <rect fill='#3A3943' x="761" y="2" width="494" height="74" stroke="#3A3943" stroke-width="4"/>
        <text x="1008" y="39" class='building-text' text-anchor="middle" alignment-baseline="middle">Вход / выход</text>
    </svg>
    div(class='zoom-controls')
        button(id="zoom-in", class='zoom-btn zoom-btn-plus') 
        button(id="zoom-out", class='zoom-btn zoom-btn-minus')